@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/work-sans-v24-latin-600.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #2B2B2B;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  max-width: 1179px;
  margin: 0 auto;
  padding: 20px 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.navbar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.navbar__link > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: white;
  transition: all 0.3s linear;
}
.navbar__link > a:hover {
  color: #A259FF;
}

.navbar__btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: white;
  padding: 19px 30px;
  background-color: #A259FF;
  color: white;
  border-radius: 20px;
  border: solid 1px #A259FF;
  transition: all 0.3s linear;
  cursor: pointer;
}
.navbar__btn:hover {
  background-color: transparent;
}

.menu-btn {
  display: none;
}

@media (max-width: 950px) {
  .site-header {
    padding: 15px 50px;
  }
  .navbar {
    display: none;
  }
  .menu-btn {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header__logo > img {
    width: 182px;
    height: 24px;
  }
}
@media (max-width: 550px) {
  .site-header {
    padding: 15px 30px;
  }
}
.hero-section {
  padding: 80px 0 180px;
}

.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 70px;
}

.hero__left-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.hero__contents {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.hero__left-wrapper > h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 100%;
  color: white;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.hero__left-wrapper > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: white;
  margin-bottom: 30px;
}

.hero__contents > button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  background-color: #A259FF;
  color: white;
  border: solid 1px #A259FF;
  margin-bottom: 30px;
  padding: 20px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.hero__contents > button:hover {
  background-color: transparent;
}

.hero__content-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 60px;
}

.hero__content {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: white;
}

.hero__right-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
  background-color: #3B3B3B;
  border-radius: 20px;
}

.hero__right-wrapper > img {
  margin-bottom: 22px;
  width: 510px;
  height: 371px;
}

.hero__right-wrapper > h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: white;
  margin-bottom: 10px;
  padding-left: 20px;
}

.hero__anima-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  margin-bottom: 22px;
  padding-left: 20px;
}

.hero__anima-wrapper > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

@media (max-width: 950px) {
  .hero-section {
    padding: 80px 0 80px;
  }
  .hero__left-wrapper > h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: white;
  }
  .hero__left-wrapper > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
    margin-bottom: 20px;
  }
  .hero__content-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
  }
  .hero__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
  }
  .hero__right-wrapper > img {
    margin-bottom: 22px;
    max-width: 330px;
    height: 221px;
  }
}
@media (max-width: 652px) {
  .hero-section {
    padding: 40px 0;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    flex-direction: column;
  }
  .hero__contents {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 0 auto;
  }
  .hero__left-wrapper > h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: white;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .hero__contents > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 100%;
  }
  .hero__left-wrapper > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
    margin-bottom: 40px;
  }
}
.treding-section {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  padding-bottom: 80px;
}

.treding {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 60px;
  flex-direction: column;
}

.treding__top-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
}

.treding__top-wrapper > h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  color: white;
}

.treding__top-wrapper > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: white;
}

.treding__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.treding__picture-wrapper {
  margin-bottom: 15px;
  display: grid;
  grid-template-areas: "dog dog dog" "dog dog dog" "dog dog dog" "cat bear btn";
  gap: 15px;
}

.treding__img1 {
  border-radius: 20px;
  border: solid 1px transparent;
}

.dog {
  width: 330px;
  grid-area: dog;
}

.cat {
  width: 100px;
  grid-area: cat;
}

.bear {
  width: 100px;
  grid-area: bear;
}

.btn {
  width: 100px;
  grid-area: btn;
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  color: white;
  cursor: pointer;
  background-color: #A259FF;
  transition: all 0.5s linear;
}
.btn:hover {
  background-color: white;
  color: black;
}

.treding__title-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
}

.treding__title-wrapper > h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: white;
}

.treding__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.treding__text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

@media (max-width: 1000px) {
  .treding__top-wrapper > h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: white;
  }
  .treding__top-wrapper > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
  }
  .three {
    display: none;
  }
}
@media (max-width: 720px) {
  .two {
    display: none;
  }
  .dog {
    width: 315px;
  }
  .cat {
    width: 95px;
  }
  .bear {
    width: 95px;
  }
  .btn {
    width: 95px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: white;
  }
  .treding__text > h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: white;
  }
}/*# sourceMappingURL=main.css.map */