*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: $clr-bg;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
}